@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li {
  @apply px-3 ;
}

.bg-primary{
  background: #B85042;
  
}

.bg-secondary{
  background: #E7E8D1 ;
  
}

.bg-about-primary{
  background: #A7BEAE;
}

/* .bg-color-heading{
  text-4xl text-black border-b-4 border-[#971b0a] mb-5 w-[170px] font-bold ;
} */

.mobile-nav{
  @apply fixed top-16 left-0 bg-zinc-500 w-full h-1/4;
}

.mobile-nav  li {
  @apply w-full h-full text-center border-b-2;
}