@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li {
  @apply px-3 ;
}

.bg-primary{
  background: #B85042;
  
}

.bg-primary-light{
  background: #d36e61;
  
}

.bg-secondary{
  background: #E7E8D1 ;
  
}

.bg-about-primary{
  background: #A7BEAE;
}



.mobile-nav{
  @apply fixed top-16 left-0 bg-zinc-500 w-full h-1/4;
}

.mobile-nav  li {
  @apply w-full h-full text-center border-b-2;
}

.project-desc{
  @apply  absolute left-0 right-0 bottom-0 top-0 bg-secondary text-black opacity-0 duration-500 hover:opacity-100
            
}

.btn{
  @apply bg-primary px-5 py-2 font-bold  hover:border-2 border-white rounded 
}

html {
  scroll-behavior:smooth ;
}